// /* ================================= */
// /* =========== Variables =========== */
// /* ================================= */
$white: #fff;
$silver: #c1c1c1;
$iron: #D6D8D8;
$boulder: #767676;
$mineshaft: #3d3d3d;
$fuelYellow: #f19f30;
$totemPole: #a61206;
$black: #000;
$jewel: #127427;
$monza: #dc0028;


// /* ================================= */
// /* ============ Fuentes= =========== */
// /* ================================= */
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;

// /* ================================= */
// /* ============= Sizes  ============ */
// /* ================================= */
$onerem: 1rem;
$onepx: 1px;

// /* ================================= */
// /* ========== Media Querys ========= */
// /* ================================= */

//Mobile First
$media-mobile: "only screen and (min-width: 480px)";
$media-tablet: "only screen and (min-width: 768px)";
$media-desktop: "only screen and (min-width: 992px)";

//Desktop Firts
$media-mobileDes: "only screen and (max-width: 479px)";
$media-tabletDes: "only screen and (max-width: 767px)";
$media-desktopDes: "only screen and (max-width: 991px)";